

.row{   

    background-color:black;
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:blue;
    color:red;
    align-items:center;
    font-size:100px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

img{
    display:flex;
    justify-content: space-around;
    
}

.header {
    display:flex;
    justify-content: center;
    
}
.navbar{
    display:flex;
    justify-content:space-between;
}
    
body{
    text-align: center;
    background-color: blue
  
}

.social-image{
    width:50px;
}

.social{
    display:flex;
    justify-content:space-around;
    
}

